<div class="header">
    <div class="profile-wrapper">
        <div class="wrapper">

            <div class="c100 p75 ">
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill">
                    </div>
                </div>
                <img class="profile-county-icon" [src]="countryIcon">
            </div>
        </div>
        <div class="profile-bar ">
            <div class="player-name">
                Ronin Revived
            </div>

            <div class="player-level">
                Level 20
            </div>

            <div class="player-country">
                <span>India</span>
            </div>
        </div>
    </div>
    <div class="right-header">
        <div class="resources">
            <div class="food">
                <img class="resource-icon" src="assets/food.png">
                <span>1000</span>
                <img class="add-resource" src="assets/add.png">
            </div>
            <div class="brick">
                <img class="resource-icon" src="assets/brick.png">
                <span>1000</span>
                <img class="add-resource" src="assets/add.png">
            </div>
            <div class="iron">
                <img class="resource-icon" src="assets/iron.png">
                <span>1000</span>
                <img class="add-resource" src="assets/add.png">
            </div>
            <div class="gold">
                <img class="resource-icon" src="assets/gold.png">
                <span>1000</span>
                <img class="add-resource" src="assets/add.png">
            </div>
        </div>
        <div class="setting">
            <img class="setting-icon" src="assets/setting.png">
        </div>
    </div>
</div>