
<div class="base">

    <div class="base-group">
        <div class="button-group defence">
            <button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>

            <button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>

            <button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <div class="base-background">
        </div>
        <div class="button-group attack">
            <button>
                <mat-icon>donut_large</mat-icon>
            </button>

            <button>
                <mat-icon>donut_large</mat-icon>
            </button>

            <button>
                <mat-icon>donut_large</mat-icon>
            </button>
            <button>
                <mat-icon>donut_large</mat-icon>
            </button>
            <button>
                <mat-icon>donut_large</mat-icon>
            </button>
        </div>

        <div class="distict-military">
            <p class="base-location" *ngIf="baseLocation">({{baseLocation.x}}  ,  {{baseLocation.y}})</p>

            <div class="armies">
            </div>
        </div>
    </div>

</div>

