.base {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-items: center;
  justify-content: center;
}

.base-group {
    display: flex;
    flex-direction: row;
  .base-background {
    height: 483px;
    width: 700px;
    background-color: white;
    background-position: center center;
    background-size: contain;
    /* change it to cover and test */
    background-repeat: no-repeat;
    background-image: url("../../assets/military_land.jpg");
  }
}

.button-group{
    display: flex;
    flex-direction: column; 
    button {
        background: none;
        border: none;
        outline: none;
        color: aquamarine;
        cursor: pointer;
        mat-icon{
            height: 50px;
            width: 50px;
            font-size: 50px;
        }
    }
}
.attack{
    button{
        color: red;
        cursor: default;
    }
}

.distict-military{
    border-radius: 2px; 
    .armies {
        border: 1px solid black;
        width: 300px;
        min-height: 200px;
    }
}